[core]
	editor = nvim
	pager = delta
[diff]
	tool = nvimdiff
	guitool = meld
	colorMoved = default
[merge]
	tool = nvimdiff
	; conflictstyle = diff3
	guitool = meld
	renames = true
	directoryRenames = true
[mergetool "nvimdiff"]
	layout = "LOCAL,BASE,REMOTE / MERGED + BASE,LOCAL + BASE,REMOTE + (LOCAL/BASE/REMOTE),MERGED"
[mergetool "vimdiff"]
	layout = "LOCAL,BASE,REMOTE / MERGED + BASE,LOCAL + BASE,REMOTE + (LOCAL/BASE/REMOTE),MERGED"
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Brian Sajeev
	email = briansajeev@gmail.com
[advice]
	addIgnoredFile = true
[credential]
	helper = /mnt/c/Program\\ Files/Git/mingw64/bin/git-credential-manager.exe
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	line-numbers = true
	dark = true
	side-by-side = true

